# Ignore Assembly output for
assembly/exit.o
assembly/exit

assembly/maximum.o
assembly/maximum

assembly/hello-world.o
assembly/hello-world


## Clojure ##
clojure/scratch/target
clojure/scratch/classes
clojure/scratch/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
clojure/scratch/.lein-*
clojure/scratch/.nrepl-port

# Rust NNTP-test
rust/nntp-test/target
